{# details.html.twig #}

{% extends './layout.html.twig' %}

{% block title %}
    {{ parent() }} - Détail
{% endblock %}
{% block content %}

    <h1>Dans la page Détail</h1>
    <p>Bla bla</p> 
{#     

    Utilisez ce formulaire pour nous contacter : #}
    {# formulaire de contact (...) #}
{% endblock %}
